[submodule "src/Modules/MassTransit"]
	path = src/Modules/MassTransit
	url = https://github.com/haf/MassTransit.git
	update = "rebase"
[submodule "src/Modules/Stomp"]
	path = src/Modules/Stomp
	url = https://github.com/enix/MassTransit-Stomp.git
	update = "rebase"
[submodule "src/Modules/AzureServiceBus"]
	path = src/Modules/AzureServiceBus
	url = https://github.com/MassTransit/MassTransit-AzureServiceBus.git
	update = "rebase"
